body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background: rgba(4, 40, 68, 0.85);
}

.login {
    border-radius: 2px 2px 5px 5px;
    padding: 10px 20px 20px 20px;
    width: 90%;
    max-width: 320px;
    background: #ffffff;
    position: relative;
    /* padding-bottom: 80px; */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.login input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc;
}

.login input#remember_me {
    width: auto;
    display: inline-block;
}

.login input+i.fa {
    color: #fff;
    font-size: 1em;
    position: absolute;
    margin-top: -47px;
    opacity: 0;
    left: 0;
    transition: all 0.1s ease-in;
}

.login input:focus {
    outline: none;
    color: #444;
    border-color: #2196F3;
    border-left-width: 35px;
}

.login input:focus+i.fa {
    opacity: 1;
    left: 30px;
    transition: all 0.25s ease-out;
}

.login .title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.login input#login_btn {
    margin-top: 20px;
    background: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
}
