{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block content %}
    <main class="container" role="main">
        {% for post in posts %}
        <div class="page">
            <div class="page-header">
                <h1>
                    {% if post in posts[:3] %}
                    <span class="label label-danger" style="font-size: 50%;vertical-align: middle;">New</span>
                    {% endif %}
                    <a href="{{ url_for('posts', post_id=post.id) }}">{{ post.title }}</a>
                    <small>[作者:{{ post.author.username }}]</small>
                </h1>
            </div>
            <div class="page-content">
                <div>
                    {{ post.content[:120]|markdown }}
                </div>
                <p style="text-align: right;">
                    <a href="{{ url_for('posts', post_id=post.id) }}" class="btn btn-info">&gt;&gt;阅读全文</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </main>
    {{ super() }}
{% endblock %}
