{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css')}}">
{% endblock %}

{% block content %}
    <div class="pages">
        {% for post in posts %}
        <div class="page">
            <h2><a href="{{ url_for('pages', post_id=post.id) }}">{{ post.title }}</a><small> 作者:{{ post.author.username }}</small></h2>
            <p>{{ post.content[:120]|markdown }}<a href="{{ url_for('pages', post_id=post.id) }}">&gt;&gt;阅读全文</a></p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
