{% extends 'base.html' %}

{% block title %}
    {% if form.password_check %}
    注册
    {% else %}
    登录
    {% endif %}
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="wrapper">
    <form class="login" action="{{ url_for('login') }}" method="post">
        {{ form.csrf_token }}
        <p class="title">{% if form.password_check %}终于等到你{% else %}请登录{% endif %}</p>
        {{ form.username(placeholder='用户名') }}
        <i class="fa fa-user"></i>
        {{ form.password(placeholder='密码')}}
        <i class="fa fa-key"></i>
        {% if form.password_check %}
        {{ form.password_check(placeholder='确认密码')}}
        <i class="fa fa-key"></i>
        {% else %}
        {{ form.remember_me }}
        <label for="remember_me">记住我</label>
        <a href="{{ url_for('register') }}" style="float: right;">注册</a>
        {% endif %}
        <input type="submit" value="{% if form.password_check %}注册{% else %}登录{% endif %}" id="submit_btn" />
    </form>
</div>
<script src='{{ url_for('static', filename='js/jquery.min.js') }}'></script>
{% endblock %}
