<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="wrapper">
        <form class="login" action="{{ url_for('login') }}" method="post">
            {{ form.csrf_token }}
            <p class="title">请登录</p>
            {{ form.username(placeholder='用户名') }}
            <i class="fa fa-user"></i>
            {{ form.password(placeholder='密码')}}
            <i class="fa fa-key"></i>
            {{ form.remember_me }}
            <label for="remember_me">记住我</label>
            <input type="submit" value="登录" id="login_btn" />
        </form>
    </div>
    <script src='{{ url_for('static', filename='js/jquery.min.js') }}'></script>
</body>

</html>
